---
import { getEntryBySlug } from 'astro:content';

const { slug } = Astro.params;

// @ts-ignore
const post = await getEntryBySlug('blog', slug);

// @ts-ignore
const { Content } = await post.render();

import Title from '@components/Title.astro'
import Nav from '@components/Nav.astro'
---

<Nav name="posts"/>
<Title>{post?.data.title}</Title>

<main class="p-4 bg-white">
<Content />
</main>
