---
import { CollectionEntry, getEntryBySlug } from 'astro:content';

const post = await getEntryBySlug('blog', Astro.params.slug as CollectionEntry<'blog'>["id"]);

const { Content } = await post?.render() as any

import Title from '@components/Title.astro'
import Nav from '@components/Nav.astro'
---

<Nav name="posts"/>

<main style="
  padding: 0.5rem;
">
<Title>{post?.data.title}</Title>
<Content />
</main>
<footer>footer</footer>
