---
import Nav from "@components/Nav.astro";
import Title from "@components/Title.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<BaseLayout>
  <Nav />
  <main style="
    display: flex;
    flex-direction: column;
  ">
  <Title>Posts</Title>
    {posts.map((post) => <a href={`/posts/${post.slug}`}>{post.data.title}</a>)}
  </main>
  <footer>footer</footer>
</BaseLayout>
