body {
  --tw-bg-opacity: 1;
  background-color: rgb(207 250 254 / var(--tw-bg-opacity))
}

a {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  text-decoration-line: underline
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700
}
