---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="pl-4 bg-white">
		<h1>Hello</h1>
    <div class="flex flex-col">
    <a href="/posts">posts</a>
    </div>
  </main>
</BaseLayout>
