---
import BaseLayout from '@layouts/BaseLayout.astro';

let counter = 0

if(Astro.cookies.has("counter")){
  const cookie = Astro.cookies.get("counter")
  counter = cookie.number() + 1
}

Astro.cookies.set("counter",counter.toString())
---

<BaseLayout>
  <h1>Hello</h1>
  <main class="">
    <div style="
      display: flex;
      display-style: column;
    ">
    <a href="/posts">posts</a>
    </div>
      <h1>Counter = {counter}</h1>
  </main>
  <fooger>footer</footer>
</BaseLayout>
