---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Tt5 Blog (astro)</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato"
    >
    <script type="text/javascript">

</script>

	</head>
	<body>
    <slot />
	</body>
</html>
