---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Tt5 Blog (astro)</title>
	</head>
	<body style="
    font-family: sans;
    min-height: 100vh;
    min-height: 100dvh;
  
    display: grid;
    grid-template-rows:
      auto
      1fr
      auto;
  ">
    <slot />
	</body>
</html>
